<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/img/Cinetis.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="Script/script.js"></script>
    <title>Creature</title>
</head>
<body id="crea">
    <div class="hotbar">
        <div id="logo">
            <a href="/"><img src="/css/img/logo.png" alt="" id="logo"></a>
        </div>
        <form method="post" >
            <input type="hidden" name="information" value="food">
            <button type="submit" name="food" class="zelda-btn">Food</button>
        </form>
        <form method="post">
            <input type="hidden" name="information" value="hearty">
            <button type="submit" name="hearty" class="zelda-btn">Type Hearty</button>
        </form>
        <form method="post">
            <input type="hidden" name="information" value="mighty">
            <button type="submit" name="mighty" class="zelda-btn">Type Mighty</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="nonfood">
            <button type="submit" name="nonfood" class="zelda-btn">Non Food</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="horse">
            <button type="submit" name="horse" class="zelda-btn">Horse</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="goat">
            <button type="submit" name="goat" class="zelda-btn">Goat</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="sparrow">
            <button type="submit" name="sparrow" class="zelda-btn">Sparrow</button>
        </form>
    </div>
    <div class="place">
    {{if eq .Capa "food"}}
    {{range $v := .Data.Food}}
    <div class="card" onclick="OpenModal(this)">
        <div  class="title">
            <h1>{{$v.Name}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        
    </div>
    <div id="modal">
        <div onclick="CloseModal(this)">
            <strong>
            <h1>&times;</h1>
            </strong>
        </div>
        <div  class="title">
            <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        <br>
        <div>
            <h1>Common Location :{{$v.CommonLocations}}</h1>
        </div>
        <div>
            <h1>Common Effect : {{$v.CookingEffect}}</h1>
        </div>
        <br>
    </div>
    {{end}}

    {{else if eq .Capa "hearty"}}
        {{range $v := .Data.Food}}
            {{if eq $v.Type "hearty"}}

            <div class="card" onclick="OpenModal(this)">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                
            </div>
            <div id="modal">
                <div onclick="CloseModal(this)">
                    <strong>
                    <h1>&times;</h1>
                    </strong>
                </div>
                <div  class="title">
                    <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                <br>
                <div>
                    <h1>Common Location :{{$v.CommonLocations}}</h1>
                </div>
                <div>
                    <h1>Common Effect : {{$v.CookingEffect}}</h1>
                </div>
                <br>
            </div>
        {{end}}
        {{end}}

    {{else if eq .Capa "horse"}}
        {{range $v := .Data.NonFood}}
            {{if eq $v.Type "horse"}}

            <div class="card" onclick="OpenModal(this)">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                
            </div>
            <div id="modal">
                <div onclick="CloseModal(this)">
                    <strong>
                    <h1>&times;</h1>
                    </strong>
                </div>
                <div  class="title">
                    <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                <br>
                <div>
                    <h1>Common Location :{{$v.CommonLocations}}</h1>
                </div>
                <br>
                <div>
                    <h1>Drops : {{$v.Drops}}</h1>
                </div>
            </div>
        {{end}}
        {{end}}

    {{else if eq .Capa "goat"}}
        {{range $v := .Data.NonFood}}
            {{if eq $v.Type "goat"}}

            <div class="card" onclick="OpenModal(this)">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                
            </div>
            <div id="modal">
                <div onclick="CloseModal(this)">
                    <strong>
                    <h1>&times;</h1>
                    </strong>
                </div>
                <div  class="title">
                    <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                <br>
                <div>
                    <h1>Common Location :{{$v.CommonLocations}}</h1>
                </div>
                <br>
                <div>
                    <h1>Drops : {{$v.Drops}}</h1>
                </div>
            </div>
        {{end}}
        {{end}}

    {{else if eq .Capa "sparrow"}}
        {{range $v := .Data.NonFood}}
            {{if eq $v.Type "sparrow"}}

            <div class="card" onclick="OpenModal(this)">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                
            </div>
            <div id="modal">
                <div onclick="CloseModal(this)">
                    <strong>
                    <h1>&times;</h1>
                    </strong>
                </div>
                <div  class="title">
                    <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
                <br>
                <div>
                    <h1>Common Location :{{$v.CommonLocations}}</h1>
                </div>
                <br>
                <div>
                    <h1>Drops : {{$v.Drops}}</h1>
                </div>
            </div>
        {{end}}
        {{end}}

    {{else if eq .Capa "mighty"}}
            {{range $v := .Data.Food}}
                {{if eq $v.Type "mighty"}}

                <div class="card" onclick="OpenModal(this)">
                    <div  class="title">
                        <h1>{{$v.Name}}</h1>
                    </div>
                    <div>
                        <img src={{$v.Image}} alt="" class="image_mob">
                    </div>
                    <div>
                        <h1>{{$v.Description}}</h1>
                    </div>
                    
                </div>
                <div id="modal">
                    <div onclick="CloseModal(this)">
                        <strong>
                        <h1>&times;</h1>
                        </strong>
                    </div>
                    <div  class="title">
                        <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
                    </div>
                    <div>
                        <img src={{$v.Image}} alt="" class="image_mob">
                    </div>
                    <div>
                        <h1>{{$v.Description}}</h1>
                    </div>
                    <br>
                    <div>
                        <h1>Common Location :{{$v.CommonLocations}}</h1>
                    </div>
                    <div>
                        <h1>Common Effect : {{$v.CookingEffect}}</h1>
                    </div>
                    <br>
                </div>
                
        {{end}}
        {{end}}

    {{else if eq .Capa "nonfood"}}
    {{range $v := .Data.NonFood}}
    <div class="card" onclick="OpenModal(this)">
        <div  class="title">
            <h1>{{$v.Name}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        
    </div>
    <div id="modal">
        <div onclick="CloseModal(this)">
            <strong>
            <h1>&times;</h1>
            </strong>
        </div>
        <div  class="title">
            <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        <br>
        <div>
            <h1>Common Location :{{$v.CommonLocations}}</h1>
        </div>
        <br>
        <div>
            <h1>Drops : {{$v.Drops}}</h1>
        </div>
    </div>
    {{end}}
    {{else}}
    {{range $v := .Data.NonFood}}
    <div class="card" onclick="OpenModal(this)">
        <div  class="title">
            <h1>{{$v.Name}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        
    </div>
    <div id="modal">
        <div onclick="CloseModal(this)">
            <strong>
            <h1>&times;</h1>
            </strong>
        </div>
        <div  class="title">
            <h1>{{$v.Name}}   :  {{$v.Category}}</h1>
        </div>
        <div>
            <img src={{$v.Image}} alt="" class="image_mob">
        </div>
        <div>
            <h1>{{$v.Description}}</h1>
        </div>
        <br>
        <div>
            <h1>Common Location :{{$v.CommonLocations}}</h1>
        </div>
        <br>
        <div>
            <h1>Drops : {{$v.Drops}}</h1>
        </div>
    </div>
    {{end}}
    {{end}}


        

        

    </div>
</body>
</html>