<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <title>Equipement</title>
</head>
<body id="equip">
    <div class="hotbar">
        <div id="logo">
            <a href="/"><img src="/css/img/logo.png" alt="" id="logo"></a>
        </div>
        <form method="post" >
            <input type="hidden" name="information" value="accueil">
            <button type="submit" name="accueil" class="zelda-btn">Tous</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="shield">
            <button type="submit" name="shield" class="zelda-btn">Shield</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="bow">
            <button type="submit" name="bow" class="zelda-btn">Bow</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="axe">
            <button type="submit" name="axe" class="zelda-btn">Axe</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="boomerang">
            <button type="submit" name="boomerang" class="zelda-btn">Bommerang</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="sword">
            <button type="submit" name="sword" class="zelda-btn">Sword</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="crusher">
            <button type="submit" name="crusher" class="zelda-btn">Crusher</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="rod">
            <button type="submit" name="rod" class="zelda-btn">Rod</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="arrow">
            <button type="submit" name="arrow" class="zelda-btn">Arrow</button>
        </form>
        <form method="post" >
            <input type="hidden" name="information" value="spear">
            <button type="submit" name="spear" class="zelda-btn">Spear</button>
        </form>
        
    </div>
    <div class="place">
        {{if eq .Capa "shield"}}
            {{range $v := .Data}}
                {{if eq $v.Type "shield"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "bow"}}
            {{range $v := .Data}}
                {{if eq $v.Type "bow"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "axe"}}
            {{range $v := .Data}}
                {{if eq $v.Type "axe"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "crusher"}}
            {{range $v := .Data}}
                {{if eq $v.Type "crusher"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "boomerang"}}
            {{range $v := .Data}}
                {{if eq $v.Type "boomerang"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "rod"}}
            {{range $v := .Data}}
                {{if eq $v.Type "rod"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "arrow"}}
            {{range $v := .Data}}
                {{if eq $v.Type "arrow"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "spear"}}
            {{range $v := .Data}}
                {{if eq $v.Type "spear"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

            {{else if eq .Capa "sword"}}
            {{range $v := .Data}}
                {{if eq $v.Type "sword"}}
                    <div class="card">
                        <div  class="title">
                            <h1>{{$v.Name}}</h1>
                        </div>
                        <div>
                            <img src={{$v.Image}} alt="" class="image_mob">
                        </div>
                        <div>
                            <h1>{{$v.Description}}</h1>
                        </div>
                    </div>
                {{end}}
            {{end}}

        {{else if eq .Capa "accueil"}}
        {{range $v := .Data}}
            <div class="card">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
            </div>
        {{end}}
        {{else}}
        {{range $v := .Data}}
            <div class="card">
                <div  class="title">
                    <h1>{{$v.Name}}</h1>
                </div>
                <div>
                    <img src={{$v.Image}} alt="" class="image_mob">
                </div>
                <div>
                    <h1>{{$v.Description}}</h1>
                </div>
            </div>
        {{end}}
        {{end}}



</body>
</html>